# Server
PORT=4000
NODE_ENV=development

# Database
DB_HOST=db
DB_PORT=5432
DB_NAME=cinestream_db
DB_USER=cinestream
DB_PASSWORD=cinestream123

# JWT — TROQUE EM PRODUÇÃO!
JWT_SECRET=sua_chave_super_secreta_minimo_32_caracteres
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3000
